*{
    margin: 0;
}
.header{
    width: 100%;
    height: 190px;
    background-color: dimgray;
}
.profile >img{
    width: 125px;
    height: 125px;
    border: 3px dotted yellow;
    border-radius: 50%;
    margin-top: 15px;
}
.profile{
    padding-left: 40%;
}
.ps{
    margin-left:30% ;
}
.p{
    width: 100%;
    background-color: white;
    height: 30px;
    
}
.p>span{
    background-color: yellow;
    margin-left: 39%;
    padding:15px;
    font-size: 20px;
    border-radius: 5px;
}
.contain{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.left{
    margin-left: 40px;
}
.right{
    margin-left: 20px;
}
.profilep{
    font-weight: bold;
}
.sckillh2{
    margin-left: 110PX;
}
.workexperinceh3{
    display: inline;
}
.code{
    width: 3px;
    background-color:dimgray;
    margin-left: 25%;
}




